<!DOCTYPE html>
<html>
	<head>
		<title>SiaVash Moghadas</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="icon" href="/image/SV.png">
		<div id = "menu" align = "middle" >
			<a href = "/index.html">HOME</a> | 
			<a href = "/about/contact_us.html">CONTACT</a> | 
			<a href = "/about/index.html">ABOUT</a>
		</div>
	</head>

	<body>
		<table width="100%">
			<td align="left"><img id="profile" src="/image/katakuri.png"></td>
			<td align="center"><img id="logo" src="/image/logo.svg	"></td>
		</table>
		<br>
		<h1 id="menu">This is a heading</h1>
		<p>Document content goes here....</p>
	</body>

</html>
